## Fake news Detection

Fake news refers to misinformation or disinformation spread through word of mouth,media or digital channels such as edited videos/pics,memes,unverified sources and social media rumours or deep fake videos. Fake news has become a serious problem with potential of resulting in mob violence, public shame or any kind of social stigma. Or even propaganda like favouring politicians in elections or spreading inflammatory messages of terrorists,crimes etc 
Many examples  are there in the past and currently .The problem statement dataset has been taken from kaggle Dataset :https://www.kaggle.com/pnkjgpt/fake-news-dataset

### Data science project Documentation

The Data Science Method

<b>1.Problem Identification</b>

<b>2.Data Wrangling</b>
* Data Collection
    - Locating the data
    - Data loading
    - Data joining
* Data Organization
    - File structure
    - Git & Github
* Data Definition
    * Column names
    - Data types (numeric, categorical, timestamp, etc.)
    - Description of the columns
    - Count or percent per unique values or codes (including NA)
    - The range of values or codes
* Data Cleaning
    * NA or missing data
    - Duplicates

<b>3.Exploratory Data Analysis</b>

- Build data profile tables and plots
- Outliers & Anomalies
- Explore data relationships
- Identification and creation of features

<b>4.Pre-processing and Training Data Development</b>

- Create dummy or indicator features for categorical variables
- Standardize the magnitude of numeric features
- Split into testing and training datasets
- Apply scaler to the testing set

<b>5.Modeling</b>

- Fit Models with Training Data Set
- Review Model Outcomes — Iterate over additional models as needed.
- Identify the Final Model

<b>6.Documentation </b>

- Review the Results
- Present and share your findings - storytelling
- Finalize Code
- Finalize Documentation

## 1.Problem Identification

#### To predict whether a news is fake or real

## 2.Data Wrangling

### 2.1 Import required libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

### 2.2 Data Collection
- Locating the data
- Data loading
- Data joining

In [3]:
##locate /explore  the datasets
fake_news_data = pd.read_csv("datasets/train.csv")

NameError: name 'pd' is not defined

In [3]:
fake_news_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40000 entries, 0 to 39999
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   index       40000 non-null  int64
 1   title       40000 non-null  object
 2   text        40000 non-null  object
 3   subject     40000 non-null  object
 4   date        40000 non-null  object
 5   class       40000 non-null  object
 6   Unnamed: 6  1 non-null      object
dtypes: int64(1), object(6)
memory usage: 2.1+ MB

In [4]:
fake_news_data.shape

(40000, 7)

In [5]:
fake_news_data.head(10)

,index,title,text,subject,date,class,Unnamed: 6
0,0,PRESIDENT TRUMP Explains New “America First” R...,That s what we re talking about! Another campa...,politics,"Aug 2, 2017",Fake,NaN
1,1,TERMINALLY ILL FORMER MISS WI: “Until my last ...,How is it that Sean Hannity is the only media ...,politics,"Oct 4, 2016",Fake,NaN
2,2,Cruz Humiliated By Moderator After Lie About ...,Almost immediately after learning that longtim...,News,"February 13, 2016",Fake,NaN
3,3,"Russia revels in Trump victory, looks to sanct...",MOSCOW (Reuters) - For all their mutual praise...,politicsNews,"November 9, 2016",Real,NaN
4,4,Trump's bid to open U.S. monuments to developm...,WASHINGTON (Reuters) - The Trump administratio...,politicsNews,"May 26, 2017",Real,NaN
5,5,UNREAL! HERE’S WHY ICE RELEASED BUT DIDN’T DEP...,THANK GOODNESS FOR THE CENTER FOR IMMIGRATION ...,Government News,"Apr 28, 2016",Fake,NaN
6,6,CONSEQUENCES OF LIBERAL TOLERANCE: He Had An I...,Terrified concert goers fled an Ariana Grande ...,politics,"May 25, 2017",Fake,NaN
7,7,U.S. NEWS and WORLD REPORT Publishes List Of T...,"More than 21,000 people from all regions of th...",politics,"Jul 13, 2017",Fake,NaN
8,8,Trump administration's NAFTA demands make sens...,DETROIT (Reuters) - The list of priorities U.S...,politicsNews,"July 20, 2017",Real,NaN
9,9,Turks flock to social media for gold trader sa...,ANKARA (Reuters) - Allegations of wrongdoing b...,worldnews,"December 1, 2017",Real,NaN

In [6]:
fake_news_data.head(2).T

,0,1
index,0,1
title,PRESIDENT TRUMP Explains New “America First” R...,TERMINALLY ILL FORMER MISS WI: “Until my last ...
text,That s what we re talking about! Another campa...,How is it that Sean Hannity is the only media ...
subject,politics,politics
date,"Aug 2, 2017","Oct 4, 2016"
class,Fake,Fake
Unnamed: 6,NaN,NaN

In [7]:
fake_news_data.describe()

             index
count  40000.00000
mean   19999.50000
std    11547.14972
min        0.00000
25%     9999.75000
50%    19999.50000
75%    29999.25000
max    39999.00000

In [8]:
fake_news_data.isna().sum()

index             0
title             0
text              0
subject           0
date              0
class             0
Unnamed: 6    39999
dtype: int64

In [9]:
fake_news_data.title.value_counts()

Factbox: Trump fills top jobs for his administration                                                     12
Factbox: Contenders for senior jobs in Trump's administration                                             8
Highlights: The Trump presidency on April 13 at 9:30 P.M. EDT/0130 GMT on Friday                          7
MEDIA IGNORES Time That Bill Clinton FIRED His FBI Director On Day Before Vince Foster Was Found Dead     6
Factbox: International reaction to arrest of Reuters reporters in Myanmar                                 6
                                                                                                         ..
DON’T TAKE YOUR KIDS TO New Orleans To Learn About American History…Black Lives Matter Just ERASED It     1
BUDGET DEAL Quadruples Number Of Unskilled Guest Workers                                                  1
Trump aides hope win on taxes will stem slide in poll numbers                                             1
Macron may see 'slackers' become protest rallying cry in France                                           1
House won't vote on healthcare law before break: lawmaker                                                 1
Name: title, Length: 35075, dtype: int64

In [10]:
fake_news_data.class.value_counts()

SyntaxError: invalid syntax (<ipython-input-10-81cd3d12ed6d>, line 1)

## 3.Exploratory Data Analysis

## 4.Pre-processing and Training Data Development

- Create dummy or indicator features for categorical variables
- Standardize the magnitude of numeric features
- Split into testing and training datasets
- Apply scaler to the testing set

## 5.Modeling

- Fit Models with Training Data Set
- Review Model Outcomes — Iterate over additional models as needed.
- Identify the Final Model

## 6.Documentation 

- Review the Results
- Present and share your findings - storytelling
- Finalize Code
- Finalize Documentation